<div class="container">
<h2 class="my-3 ml-3"><%= @customers.first_name%><%= @customers.last_name %>さんの会員詳細</h2>
<dl class="row">
  <dt class="col-2">会員ID</dt>
  <dd class="col-10"><%= @customers.id%></dd>
  <dt class="col-2">氏名</dt>
   <dd class="col-10"><%= @customers.first_name%>&emsp;<%= @customers.last_name %></dd>
  <dt class="col-2">フリガナ</dt>
   <dd class="col-10"><%= @customers.first_name_kana %>&emsp;<%= @customers.last_name_kana %></dd>
  <dt class="col-2">郵便番号</dt>
   <dd class="col-10"><%= @customers.postal_code %></dd>
  <dt class="col-2">住所</dt>
   <dd class="col-10"><%= @customers.address %></dd>
   <dt class="col-2">電話番号</dt>
   <dd class="col-10"><%= @customers.telephone_number %></dd>
  <dt class="col-2">メールアドレス</dt>
   <dd class="col-10"><%= @customers.email %></dd>
  <dt class="col-2">会員ステータス</dt>
      <% if @customers.is_deleted == false %>
      <dd class="col-10 text-success">有効</dd>
      <% else %>
      <dd class="col-10 text-secondary">退会</dd>
      <% end %>
 </dl>
 <div class="row">
  <%= link_to "編集する", edit_admin_customer_path(@customers),class: 'btn btn-success' %>
 </div>
