

 <div class="container">
<h2 class="my-3 ml-3">注文履歴詳細</h2>
<dl class="row">
  <dt class="col-2">購入者</dt>
   <dd class="col-10"><%= @orders.customer.last_name %><%= @orders.customer.first_name %></dd>
  <dt class="col-2">注文日</dt>
   <dd class="col-10"><%= @orders.created_at %></dd>
  <dt class="col-2">配送先</dt>
   <dd class="col-10"><%= @orders.postal_code %><%= @orders.address %></dd>
  <dt class="col-2"></dt>
   <dd class="col-10"><%= @orders.name %></dd>
   <dt class="col-2">支払い方法</dt>
   <dd class="col-10"><%= @orders.payment_method_i18n %></dd>
  <dt class="col-2">注文ステータス</dt>
   <dd class="col-10"><%= form_with model: @orders,url: admin_order_path(@orders.id), local: true do |f| %>
            <%= f.select :status,Order.statuses_i18n.map {|k,v| [v, k]},required:true %>
            <%= f.submit "更新", class: 'btn btn-success'%>
            <% end %>
</dd>

 </dl>


  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" style="width: 20%">商品名</th>
      <th scope="col" style="width: 10%">単価(税込み)</th>
      <th scope="col" style="width: 10%">数量</th>
      <th scope="col" style="width: 10%">小計</th>
      <th scope="col" style="width: 20%">製作ステータス</th>
      <th scope="col" style="width: 10%"></th>
    </tr>
  </thead>
  <% @orders.order_details.each do |c| %>
  <tbody>
    <tr>
      <td><%= c.item.name %></td>
      <td><%= c.item.price*1.1.round %></td>
      <td><%= c.amount %></td>
      <td><%= c.item.price*1.1.round*c.amount %>円</td>
      <td> <%= form_with model: c,url: admin_order_detail_path(c.id), local: true do |f| %>
            <%= f.select :making_status,OrderDetail.making_statuses_i18n.map {|k,v| [v, k]},required:true %></td>
    　<td><%= f.submit "更新", class: 'btn btn-success'%></td>
            <% end %>
       
    </tr>
  </tbody>
  <% end %>
</table>
