<div class='container'>
  <div class='row'>
    <div class="mx-auto col-sm-12 col-md-10 col-lg-10 px-10 px-sm-0">
      <h1>注文詳細</h1>
        <h4>注文情報</h4>
        <table class='table table-hover table-inverse'>
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>
              〒<%= @order.postal_code %>
              <br><%= @order.address %>
              <br><%= @order.name %>
            </td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td><%= @order.status_i18n %></td>
          </tr>
        </table>
          
        <h4>請求情報</h4>
        <table class='table table-hover table-inverse'>
          <tr>
            <td>商品合計</td>
            <td><%= @total %>円</td>
          </tr>
          <tr>
            <td>配送料</td>
            <td><%= @order.shipping_cost %>円</td>
          </tr>
          <tr>
            <td>ご請求額</td>
            <td><%= @order.total_payment.round.to_s(:delimited)%>円</td>
          </tr>
          </table>
          
        <h4>注文内容</h4>
        <table class='table table-hover table-inverse'>
          <thead>
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
        <% @order.order_details.each do |order_detail| %>
          <tr>
            <th><%= order_detail.item.name %></th>
            <th><%= order_detail.item.price*1.1.round %></th>
            <th><%= order_detail.amount %></th>
            <td><%= order_detail.item.price*1.1.round*order_detail.amount %>円</td>
          </tr>
        </tbody>
        <% end %>
        </table>
    </div>
  </div>
</div>

