<div class="container px-5 px-sm-0">
 <div class="row">
  <div class = "col-md-8 offset-md-1">
    <table class="table">
    <tbody>
      <tr>
        <td>
          <%= image_tag @item.image, size:"50x50" %>
        </td>
        <td>
          <div>
          <h1><%=  @item.name %></h1>
          </div>
          <div>
          <p><%= @item.introduction %></p>
          </div>
          <div>
          <h2>¥<%= @item.price*1.1 %></h2>(税込）
          </div>
            <%= form_with model: @cart_item,url: public_cart_items_path, local: true do |f| %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.hidden_field :customer_id, :value => current_customer.id %>
            <%= f.select :amount, *[1..10],{include_blank: '個数選択'},required:true %>
            <%= f.submit "カートに入れる", class: 'btn btn-success'%>
          </div>
          <% end %>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
  </div>
</div>
